/*This css is taken from administrator/templates/bluestork/css/template.css
The link to whole css file is not made, as only the css for the admin list/ new item 
views are needed, and the other css may intefere with frontend elements */

/*general */
.clr {
	clear: both;
	overflow: hidden;
	height: 0;
}

/* Main toolbars */
.toolbar-list{
	height: 75px !important;
	padding-right: 0px !important;
}

div.toolbar-list {
	float: right;
	text-align: right;
	padding: 0;
}

div.toolbar-list ul {
	margin: 0;
	padding: 0;
}

div.toolbar-list li {
	padding: 1px 1px 3px 4px;
	text-align: center;
	color: #666;
	height: 48px;
	width:70px;
	list-style: none;
	float: left;
}

div.toolbar-list li.spacer {
	width: 10px;
}

div.toolbar-list li.divider {
	border-right: 1px solid #c7c7c7;
	width: 2px;
}

div.toolbar-list span {
	float: none;
	width: 32px;
	height: 32px;
	margin: 0 auto;
	display: block;
}

div.toolbar-list a {
	display: block;
	float: left;
	white-space: nowrap;
	border: 1px solid #F4F4F4;
	padding: 1px 5px;
	cursor: pointer;
}

div.toolbar-list a:hover,
div.toolbar-list a:focus, 
div.toolbar-list a:active {
	border-left: 1px solid #eee;
	border-top: 1px solid #eee;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	text-decoration: none;
	color: #0B55C4;
}


/* -- FORM STYLES ----------------------------- */
div.width-60	{width: 60%;}
.clrlft		{clear: left;}
.clrrt		{clear: right;}
.fltlft		{float: left;}
.fltrt		{float: right;}
.fltnone	{float: none;}

div.width-60 fieldset,{
	background-color: #fff;
	padding: 5px 17px 17px 17px;
}


/* Administrator forms, lists */
fieldset.adminform {
	margin: 10px;
	overflow: hidden;
}

fieldset.adminform legend {
	margin: 0;
	padding: 0;
}

ul.adminformlist,
ul.adminformlist li {
	margin: 0;
	padding: 0;
	list-style: none;
}

fieldset label,
fieldset span.faux-label {
	float: left;
	clear: left;
	display:block;
	margin: 5px 0;
}
fieldset ul {
	margin: 0;
	padding: 0;
}

form label,
form span.faux-label {
	font-size: 1.091em;
}

fieldset input,
fieldset textarea,
fieldset select,
fieldset img,
fieldset button {
	float: left;
	width: auto;
	margin: 5px 5px 5px 0px;
}

fieldset.adminform textarea {
	width: 355px;
}

fieldset ul.checklist input {
	clear:left;
	margin-right: 10px;
}

fieldset ul.checklist label,
fieldset ul.menu-links label,
fieldset#filter-bar label {
	clear:none;
}
fieldset.adminform ul.checklist li {
	width: 100%;
	margin: 0;
	padding:0;
}
fieldset.adminform ul.checklist li label {
	width: auto;
}

input.readonly {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.091em;
	padding-top: 1px;
	border: 0;
	font-weight: bold;
	color: #666;
}

#jform_id,
span.readonly {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.091em;
	margin:5px 5px 5px 0;
	font-weight: bold;
	float: left;
	display:block;
	color: #666;
}

#jform_params_alt,
#jform_clickurl {
	width: 355px;
}

#jform-imp {
	min-width: 70px;
}

.mod-desc { margin-left: 135px !important; float: none !important;}

input.readonly {
	background-color: #ffffff;
}

#jform_params_width,
#jform_params_height,
#jform_params_increase,
#jform_params_shownumber,
#jform_params_count {
	width: 50px;
}

#jform_id {
	width: 50px;
	background-color:#FFFFFF;
	border: 0 none;
}

input#jform_title,
input#jform_leveltitle,
input#jform_grouptitle {
	font-size: 1.364em;
}

label#jform_title-lbl,
label#jform_leveltitle-lbl,
label#jform_grouptitle-lbl {
	padding-top: 3px;
}

div#content-pane fieldset {
	border: 0;
	padding: 10px 15px 0 15px;
}

div.panel fieldset {
	border: 0;
}

/* Required elements */
input.required {
	background-color: #d5eeff;
}

.star {
	color:#EB8207;
	font-size:1.2em;
}

button.jform-rightbtn { 
	float:right;
	margin-right: 0;
}

#jform_impmade,
#jform_clicks {
	width: 30px;
}

/* Field label widths - long label */
fieldset.adminform.long label, 
fieldset.adminform.long span.faux-label {
	min-width: 180px;
}
fieldset.adminform.long input { }

/* Field label widths - short label */
fieldset.adminform label, 
fieldset.adminform span.faux-label {
	min-width: 135px;
	padding: 0 5px 0 0;
}

input#description {
	margin-top: 3px;
}

th.col1template {
	width: 210px;
}

div.editor-border {
	border: 1px solid #CCCCCC;
}

fieldset p {
	margin: 0 0 15px 0;
	font-size: 1.091em;
}

li#jform_menutype_label,
li#jform_parentid_label,
li#jform_published_label,
li#jform_access_label {
	float: left;
	clear: left;
}

fieldset.adminform fieldset.radio,
fieldset.panelform fieldset.radio,
fieldset.adminform-legacy fieldset.radio {
	border: 0;
	float: left;
	padding: 0;
	margin: 0 0 5px 0;
	/* clear: right; */
}

fieldset.adminform fieldset.radio label,
fieldset.panelform fieldset.radio label {
	min-width: 60px;
	padding-left: 0;
	padding-right: 10px;
	float: left;
	clear: none;
	/*width: 40px;*/
	display:inline;
}

/* checkboxes */
fieldset.adminform fieldset.checkboxes,
fieldset.panelform fieldset.checkboxes,
fieldset.adminform-legacy fieldset.checkboxes  {
	border: 0;
	float:left;
	padding: 0;
	margin: 0 0 5px 0;
	clear:right;
}


fieldset.adminform fieldset.checkboxes input[type="checkbox"],
fieldset.panelform fieldset.checkboxes input[type="checkbox"] {
	float: left;
	clear: left;
}
fieldset.adminform fieldset.checkboxes label,
fieldset.panelform fieldset.checkboxes label,
fieldset.adminform fieldset.checkboxes span.faux-label,
fieldset.panelform fieldset.checkboxes span.faux-label {
	clear: right;
}

/* end checkboxes */

/* spacer */
div.current span.spacer > span.before,
fieldset.adminform span.spacer > span.before,
fieldset.panelform span.spacer > span.before {
	clear: both;
	overflow: hidden;
	height: 0;
	display: block;
}

div.current span.spacer > span.text label ,
fieldset.adminform span.spacer > span.text label ,
fieldset.panelform span.spacer > span.text label {
	white-space: nowrap;
	font-weight: bold;
	color: #666;
}

/* end spacer */

fieldset.panelform-legacy label,
fieldset.adminform-legacy label {
	min-width: 150px;
	float: left;
}

/* JParameter classes on radio button labels  */
fieldset.panelform-legacy label.radiobtn-jno,
fieldset.panelform-legacy label.radiobtn-jyes,
fieldset.panelform-legacy label.radiobtn-show,
fieldset.panelform-legacy label.radiobtn-hide,
fieldset.panelform-legacy label.radiobtn-off,
fieldset.panelform-legacy label.radiobtn-on	{
	min-width: 40px !important;
	clear: none !important;
}

#jform_plugdesc-lbl,
#jform_description-lbl {
	clear: both;
	margin-top: 15px;
}

p.jform_desc {
	clear: left;
}

div#jform_ordering {
	font-size: 1.091em;
	margin-top: 3px;
}

fieldset.filter {
	border: 0;
	margin: 0;
	padding: 0 0 5px;
}

fieldset.filter ol {
	border: 0;
	list-style: none;
	margin: 0;
	padding: 5px 0 0;
}

fieldset.filter ol li {
	float: left;
	padding: 0 5px 0 0;
}

fieldset.filter ol li fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

fieldset.filter .left {
	float: left;
}

fieldset.filter .right {
	float: right;
}

fieldset.filter .right select {
	margin-left: 10px;
}

fieldset#filter-bar {
	height: 35px;
	border: 0;
	border-bottom: 1px solid #d5d5d5;
}

label.filter-search-lbl {
	margin-left: 5px;
}

label.filter-hide-lbl {
	margin-left: 5px;
	clear: none;
}

div.filter-select input,
div.filter-select select {
	margin-left: 5px;
	margin-right: 5px;
}

button.filter-go {
	float: left;
	margin-right: 15px;
}

label.filter-published-lbl {
	clear: none;
	margin-left: 10px;
}

table.adminform {
	background-color: #fff;
	border: solid 1px #d5d5d5;
	width: 100%;
	border-collapse: collapse;
	margin: 8px 0 10px 0;
	margin-bottom: 15px;
	width: 100%;
}

table.adminform tr.row0 {
	background-color: #f9f9f9;
}

table.adminform tr.row1 {
	background-color: #eeeeee;
}

table.adminform th {
	font-size: 1.091em;
	padding: 6px 2px 4px 4px;
	text-align: left;
	height: 25px;
	color: #000;
	background-repeat: repeat;
}

table.adminform td {
	padding: 5px;
	text-align: left;
	font-size: 1.091em;
}

table.adminform td.filter {
	text-align: left;
}

table.adminform td.helpMenu {
	text-align: right;
}

table#template-mgr td {
	padding: 15px 0;
}

table#template-mgr td p {
	margin: 3px;
}

td.template-name a {
	padding-left: 15px;
	font-weight: bold;
}

.helplinks {
	margin-top: 60px;
}

ul.helpmenu li {
	float: right;
	margin: 10px;
	padding: 0;
	list-style-type: none;
}

input.text-area-order {
	text-align: center;
	margin-right: 5px;
}

fieldset.uploadform label {
	clear: left;
	min-width: 100px;
}

span.gi {
	color: #d7d7d7;
	font-weight: bold;
	margin-right: 5px;
}

span.gtr {
	visibility:hidden;
	margin-right: 5px;
}

ul#legend li {
	float: left;
	margin: 20px;
	list-style-type: none;
}

#jform_params_target { width: 190px;}


/* Adminlist grids */

table.adminlist {
	width: 100%;
	border-spacing: 1px;
	background-color: #f3f3f3;
	color: #666;
}

table.adminlist td,
table.adminlist th {
	padding: 4px;
}

table.adminlist td {padding-left: 8px;}

table.adminlist thead th {
	text-align: center;
	background: #f7f7f7;
	color: #666;
	border-bottom: 1px solid #CCC;
	border-left: 1px solid #fff;
}

table.adminlist thead th.left {
	text-align: left;
}

table.adminlist thead a:hover {
	text-decoration: none;
}

table.adminlist thead th img {
	vertical-align: middle;
	padding-left: 3px;
}

table.adminlist tbody th {
	font-weight: bold;
}

table.adminlist tbody tr {
	background-color: #fff;
	text-align: left;
}

table.adminlist tbody tr.row0:hover td,
table.adminlist tbody tr.row1:hover td	{
	background-color: #e8f6fe;
}

table.adminlist tbody tr td {
	background: #fff;
	border: 1px solid #fff;
}

table.adminlist tbody tr.row1 td {
	background: #f0f0f0;
	border-top: 1px solid #FFF;
}

table.adminlist tfoot tr {
	text-align: center;
	color: #333;
}

table.adminlist tfoot td,table.adminlist tfoot th {
	background-color: #f7f7f7;
	border-top: 1px solid #999;
	text-align: center;
}

table.adminlist td.order {
	text-align: center;
	white-space: nowrap;
	width: 200px;
}

table.adminlist td.order span {
	float: left;
	width: 20px;
	text-align: center;
	background-repeat: no-repeat;
	height: 13px;
}

table.adminlist .pagination {
	display: inline-block;
	padding: 0;
	margin: 0 auto;
}

/* Tree indentation & nesting - Up to 10 levels deep so don't go crazy :) */
table.adminlist td.indent-4 	{	padding-left: 4px;		}
table.adminlist td.indent-19 	{	padding-left: 19px;		}
table.adminlist td.indent-34 	{	padding-left: 34px;		}
table.adminlist td.indent-49 	{	padding-left: 49px;		}
table.adminlist td.indent-64 	{	padding-left: 64px;		}
table.adminlist td.indent-79 	{	padding-left: 79px;		}
table.adminlist td.indent-94 	{	padding-left: 94px;		}
table.adminlist td.indent-109 	{	padding-left: 109px;	}
table.adminlist td.indent-124 	{	padding-left: 124px;	}
table.adminlist td.indent-139 	{	padding-left: 139px;	}

table.adminlist tr td.btns a {
	text-decoration: underline;
}

/* -- TABLE STYLES ----------------------------- */

div#element-box div.m form table.adminlist tr td a {
	font-size: 1.1em;
}

div#element-box div.m form table.adminlist tr td div.button2-left.smallsub a {
	font-size: 1em;
}

div#element-box div.m form table.adminlist tr td p.smallsub a,
div#element-box div.m div.pane-slider form table.adminlist a {
	font-size: 1em;
}

p.smallsub {
	margin: 3px 0 0;
}

p.smallsub span {
	color: #a0a0a0;
}

.pagination div.limit {
	float: left;
	height: 22px;
	line-height: 22px;
	margin: 0 10px;
}

.pagination div.limit select#limit {
	width: 50px;
}

p.mod-purge-instruct {
	margin-top: 20px;
}

div.checkin-tick {
	background: url(../images/admin/tick.png) 20px 50% no-repeat;
	text-indent: -9999px;
}

td.left,
th.left {
	text-align: left;
}

td.center,
th.center,
.center {
	text-align: center;
	float: none;
}

td.center img,
th.center img {
	float: none;
}

td.right,th.right {
	text-align: right;
}

.container {
	clear: both;
	text-decoration: none;
	text-align:center;
}

* html .container {
	display: inline-block;
}

table.admintable th,
table.admintable td {
	font-size: 1.091em;
}

table#global-checkin td {
	font-size: 1.182em;
}

table#global-checkin td.active {
	background-color: #E8F6FE !important;
}

table#global-checkin tbody tr.row0:hover td {
	background-color: #FFF;
}

table#global-checkin tbody tr.row1:hover td {
	background-color: #F0F0F0;
}

a.saveorder {
	width: 16px;
	height: 16px;
	display:block;
	overflow: hidden;
	background: url(../images/admin/filesave.png) no-repeat;
	float:right;
	margin-right: 8px;
}

a.saveorder.inactive {
	background-position: 0px -16px;
}


/* -- EDITOR STYLES ----------------------------- */

#editor-xtd-buttons {
	padding-top: 10px;
}

/* -- BUTTON STYLES ----------------------------- */

/* Pagination on backend */
.button1,
.button1 div {
	height: 1%;
	float: right;
}

.button2-left,
.button2-right,
.button2-left div,
.button2-right div {
	float: left;
}

.button1 {
	background: url(../images/j_button1_left.png) no-repeat;
	white-space: nowrap;
	padding-left: 10px;
	margin-left: 5px;
}

.button1 .next {
	background: url(../images/j_button1_next.png) 100% 0 no-repeat;
}

.button1 a {
	display: block;
	height: 26px;
	float: left;
	line-height: 26px;
	font-size: 1.091em;
	font-weight: bold;
	color: #333;
	cursor: pointer;
	padding: 0 35px 0 6px;
}

.button1 a:hover {
	text-decoration: none;
	color: #0B55C4;
}

.button2-left a,
.button2-right a,
.button2-left button,
.button2-right button,
.button2-left span,
.button2-right span {
	display: block;
	height: 22px;
	float: left;
	line-height: 22px;
	font-size: 1em;
	color: #333;
	cursor: pointer;
}

.button2-left span,.button2-right span {
	cursor: default;
	color: #999;
}

.button2-left .page a,
.button2-right .page a,
.button2-left .page span,
.button2-right .page span,
.button2-left .blank a,
.button2-right .blank a,
.button2-left .blank span,
.button2-right .blank span,
.button2-left .blank button,
.button2-right .blank button {
	padding: 0 6px;
}

.page span,.blank span {
	color: #000;
	font-weight: bold;
}

.button2-left a:hover,
.button2-right a:hover,
.button2-left button:hover,
.button2-left button:hover	{
	text-decoration: none;
	color: #0B55C4;
}

.button2-left a,
.button2-left span,
.button2-left button {
	padding: 0 24px 0 6px;
}

.button2-right a,
.button2-right span,
.button2-right button {
	padding: 0 6px 0 24px;
}

.button2-left {
	background: url(../images/j_button2_left.png) no-repeat;
	float: left;
	margin-right: 10px;
}

.button2-right {
	background: url(../images/j_button2_right.png) 100% 0 no-repeat;
	float: left;
	margin-left: 5px;
	margin-right: 10px;
}

.button2-right .prev 		{	background: url(../images/j_button2_prev.png) no-repeat; }
.button2-right.off .prev 	{	background: url(../images/j_button2_prev_off.png) no-repeat; }
.button2-right .start 		{	background: url(../images/j_button2_first.png) no-repeat; }
.button2-right.off .start 	{	background: url(../images/j_button2_first_off.png) no-repeat; }
.button2-left .page,
.button2-left .blank 		{	background: url(../images/j_button2_right_cap.png) 100% 0 no-repeat; }
.button2-left .next 		{	background: url(../images/j_button2_next.png) 100% 0 no-repeat; }
.button2-left.off .next 	{	background: url(../images/j_button2_next_off.png) 100% 0 no-repeat; }
.button2-left .end 			{	background: url(../images/j_button2_last.png) 100% 0 no-repeat; }
.button2-left.off .end 		{	background: url(../images/j_button2_last_off.png) 100% 0 no-repeat; }
.button2-left .image 		{	background: url(../images/j_button2_image.png) 100% 0 no-repeat; }
.button2-left .readmore 	{	background: url(../images/j_button2_readmore.png) 100% 0 no-repeat; }
.button2-left .pagebreak 	{	background: url(../images/j_button2_pagebreak.png) 100% 0 no-repeat; }
.button2-left .blank 		{	background: url(../images/j_button2_blank.png) 100% 0 no-repeat; }
.button2-left .article 		{	background: url(../images/j_button2_readmore.png) 100% 0 no-repeat; }

a.pointer { cursor: pointer; }

button {
	margin-top: 4px;
	background: #fff;
	border: 1px solid #ccc;
	text-decoration: none;
}

button:hover {
	cursor: pointer;
	background: #E8F6FE;
	text-decoration: none;
	border: 1px solid #aaa;
}

div.button2-left button {
	background: transparent;
	margin-top: 0;
	border: 0 solid #ccc;
}

div.button2-left button {
	background: transparent;
	border: 0 solid #aaa;
}

/* -- JGRID STYLES ----------------------------- */

/* Admin backend grid table elements */
a.jgrid:hover {	text-decoration: none;}

.jgrid span.state {
	display: inline-block;
	height: 16px;
	width: 16px;
}
.jgrid span.text 					{ display:none; }
.jgrid span.publish					{ background-image: url(../images/admin/tick.png); }
.jgrid span.unpublish				{ background-image: url(../images/admin/publish_x.png); }
.jgrid span.default					{ background-image: url(../images/menu/icon-16-default.png); }
.jgrid span.notdefault				{ background-image: url(../images/menu/icon-16-notdefault.png); }
.jgrid span.checkedout				{ background-image: url(../images/admin/checked_out.png); }
.jgrid span.downarrow				{ background-image: url(../images/admin/downarrow.png); }
.jgrid span.downarrow_disabled		{ background-image: url(../images/admin/downarrow0.png); background-position: 0 -12px; }
.jgrid span.uparrow					{ background-image: url(../images/admin/uparrow.png); }
.jgrid span.uparrow_disabled		{ background-image: url(../images/admin/uparrow0.png); background-position: 0 -12px; }
.jgrid span.published				{ background-image: url(../images/admin/publish_g.png); }
.jgrid span.expired					{ background-image: url(../images/admin/publish_r.png); }
.jgrid span.pending					{ background-image: url(../images/admin/publish_y.png); }


/* -- TOOLBAR ICON STYLES ----------------------------- */
.icon-32-delete						{	background-image: url(../images/toolbar/icon-32-delete.png);	}
.icon-32-cancel						{	background-image: url(../images/toolbar/icon-32-cancel.png);	}
.icon-32-apply						{	background-image: url(../images/toolbar/icon-32-apply.png);	}
.icon-32-back						{	background-image: url(../images/toolbar/icon-32-back.png);	}
.icon-32-forward					{	background-image: url(../images/toolbar/icon-32-forward.png);	}
.icon-32-save						{	background-image: url(../images/toolbar/icon-32-save.png);	}
.icon-32-edit						{	background-image: url(../images/toolbar/icon-32-edit.png);	}
.icon-32-copy						{	background-image: url(../images/toolbar/icon-32-copy.png);	}
.icon-32-move						{	background-image: url(../images/toolbar/icon-32-move.png);	}
.icon-32-new						{	background-image: url(../images/toolbar/icon-32-new.png);	}
.icon-32-publish					{	background-image: url(../images/toolbar/icon-32-publish.png);	}
.icon-32-unpublish					{	background-image: url(../images/toolbar/icon-32-unpublish.png);	}
.icon-32-default					{	background-image: url(../images/toolbar/icon-32-default.png);	}
.icon-32-remove						{	background-image: url(../images/toolbar/icon-32-remove.png);	}

/* -- JGRID STYLES ----------------------------- */

/* Admin backend grid table elements */
a.jgrid:hover {	text-decoration: none;}

.jgrid span.state {
	display: inline-block;
	height: 16px;
	width: 16px;
}
.jgrid span.text 					{ display:none; }
.jgrid span.publish					{ background-image: url(../images/admin/tick.png); }
.jgrid span.unpublish				{ background-image: url(../images/admin/publish_x.png); }
.jgrid span.archive 				{ background-image: url(../images/menu/icon-16-archive.png); }
.jgrid span.trash					{ background-image: url(../images/menu/icon-16-trash.png); }
.jgrid span.default					{ background-image: url(../images/menu/icon-16-default.png); }
.jgrid span.notdefault				{ background-image: url(../images/menu/icon-16-notdefault.png); }
.jgrid span.checkedout				{ background-image: url(../images/admin/checked_out.png); }
.jgrid span.downarrow				{ background-image: url(../images/admin/downarrow.png); }
.jgrid span.downarrow_disabled		{ background-image: url(../images/admin/downarrow0.png); background-position: 0 -12px; }
.jgrid span.uparrow					{ background-image: url(../images/admin/uparrow.png); }
.jgrid span.uparrow_disabled		{ background-image: url(../images/admin/uparrow0.png); background-position: 0 -12px; }
.jgrid span.published				{ background-image: url(../images/admin/publish_g.png); }
.jgrid span.expired					{ background-image: url(../images/admin/publish_r.png); }
.jgrid span.pending					{ background-image: url(../images/admin/publish_y.png); }

