/* GENERAL */
div.igallery_clear{
    clear: both;
    }

/* SEARCH BIT */
	div.igallery_search{
	width: 100%;
	}
	
	div.igallery_search form{
	float: right;
	}
	
/* CATEGORY DESCRIPTION BIT */

	/*this div holds the category description (that can be set to top or bottom position)*/
	div.category_description{
	float: left;
	width: 100%;
	margin: 10px 0px;
	}


/* CATEGORY CHILDREN PART */

    /*wraps all the category menu image divs*/
    div.cat_child_wrapper{
    float: left;
    }
    
    /*each holds a category menu image */
    div.cat_child{
    float: left;
    padding: 10px;
    }
    
    /*all the headings in the category view are h3s. If your templates h3 is not what
    you want, you can style the gallery h3s here*/
    h3.cat_child_h3{
    }
    
    /* inside the h3's are a link (<a> tag) If your templates links are not what you want,
    you can style the category view links here*/
    a.cat_child_a{
    }


/*MAIN IMAGES WRAPPER */

	/*this wraps all the main images html (not the lightbox html)
	its alignment is set inline, as there is a left/center/right option in the backend*/
	div.main_images_wrapper{
	}


/* MAIN GALLERY THUMBS BIT */

    div.main_thumbs_arrow_wrapper{
	float: left;
	}
	
	/*this div holds the up arrow*/
	div.main_up_arrow{
	float: left;
	}

	/*the up arrow*/
	div.main_up_arrow img{
	cursor: pointer;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 4px;
	margin-bottom: 4px;
	}

	/*this div holds the main thumb table. It has overflow hidden/auto inline.
	The main thumb table scrolls inside it*/
	div.main_thumb_container{
	float: left;
	position: relative;
	direction: ltr;
	}

	/*this table holds all the thumbs.*/
	table.main_thumb_table{
	float: left;
	}

	/*these table cells hold one thumb div each.*/
	table.main_thumb_table td{
	}

	/*the thumbnail that is active will have wrapper td with a class of active*/
	table.main_thumb_table .active_thumb{
	}

	/*the rest of the thumb tds will have this class*/
	table.main_thumb_table .inactive_thumb{
	}

	/*these divs hold one thumbnail each.*/
	table.main_thumb_table td div.thumbs_div{
	text-align: center;
	}

	/*stop firefox putting a dotted border around the thumb, which gives it an overflow */
	table.main_thumb_table td div.thumbs_div a{
	outline: none;
	}
	
	/*stop J17 defualt template from giving thumbs a blue background on hover */
	div.thumbs_div a:hover, div.thumbs_div a:active, div.thumbs_div a:focus{
	background-color: transparent !important;
	}

	/*the thumbnail image*/
	table.main_thumb_table td div.thumbs_div img{
	padding: 4px;
	}

	/*this holds the left/right arrows */
	div.main_left_right_arrows_div{
	float:left;
	margin: 4px 0px;
	}

	/*the left arrow image*/
	img.main_left_arrow_img{
	cursor: pointer;
	float: left;
	}

	/*the right arrow image*/
	img.main_right_arrow_img{
	cursor: pointer;
	float: right;
	}

	/*this holds the down arrow*/
	div.main_down_arrow{
	float: left;
	}

	/*the down arrow*/
	div.main_down_arrow img{
	cursor: pointer;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 4px;
	margin-bottom: 4px;
	}


/* MAIN IMAGE DESCRIPTIONS BIT */

	/*the div that holds all the descrition divs*/
	div.main_des_container{
	float: left;
	margin: 5px 0px;
	}

	/*each description is wrapped in one of these*/
	div.main_des_container div.des_div{
	float: left;
	width: 100%;
	}

/* MAIN GALLERY LARGE IMAGE BIT */

	/*this keeps the large image and slideshow buttons together*/
	div.main_image_slideshow_wrapper{
	float: left;
	}

	/*this is the div that houses the main image, the position relative is nescesssary for the image to
	be injected properly*/
	div.main_large_image{
	float: left;
	position: relative;
	padding: 5px;
	}

/* MAIN GALLERY SLIDESHOW BIT */

	/*this holds the slideshow buttons*/
	div.main_slideshow_buttons{
	float: left;
	padding: 10px 0px;
	}

	/*the three slideshow images*/
	div.main_slideshow_buttons img{
	cursor: pointer;
	}
	
/* DOWNLOAD BUTTON BIT */

	/*this holds the download button*/
	div.main_download_button{
	float: left;
	padding: 5px;
	}

	/*the button image*/
	div.main_download_button img{
	cursor: pointer;
	display: block;
	padding-top: 5px;
	}
	
/*SHARE FACEBOOK BIT*/
	div.main_facebook_share{
	display: block;
	float: left;
	padding-left: 10px;
	padding-top: 10px;
	}
	
/*PLUS ONE BIT*/
	div.main_plus_one_div{
	display: block;
	float: left;
	padding-left: 10px;
	padding-top: 10px;
	}
	
/*REPORT IMAGE BIT*/
	div.main_report{
	display: block;
	float: left;
	padding-left: 10px;
	padding-top: 8px;
	}
	
/*IMAGE NUMBERING BIT*/
	div.main_img_numbering{
	display: block;
	float: left;
	padding-left: 10px;
	padding-top: 8px;
	}

/* TAGS BIT */

	/*the div that holds all the tags divs*/
	div.main_tags_container{
	float: left;
	overflow: auto;
	margin: 5px 0px;
	}

	/*each tag block is wrapped in one of these*/
	div.main_tags_container div.tags_div{
	float: left;
	}

/*FACEBOOK COMMENTS BIT*/
	div.main_fbcomments{
	float: left;
	padding-top: 5px;
	}
	
}
