/* LIGHTBOX WRAPPER BIT */

	/*this is the dark background div when the lightbox shows, the javascript makes it transparent,
	if it appears below a drop down menu, put another 0 onto the end of z index*/
	div.lbox_dark{
	position: absolute;
	background-color: #000000;
	z-index: 10100;
	}

	/*the wrapper for all the lightbox stuff, if it appears below a drop down menu,
	put another 0 onto the end of z index*/
	div.lbox_white{
	position: absolute;
	background-color: #ffffff;
	padding: 20px;
	z-index: 10200;
	}

/* LIGHTBOX GALLERY THUMBS BIT */

	div.lbox_thumbs_arrow_wrapper{
	float: left;
	}

	/*this div holds the up arrow*/
	div.lbox_up_arrow{
	float: left;
	}

	/*the up arrow*/
	div.lbox_up_arrow img{
	cursor: pointer;
	display: block;
    margin-left: auto;
	margin-right: auto;
	margin-top: 4px;
	margin-bottom: 4px;
	}

	/*this div holds the lbox thumb table. It has overflow hidden/auto inline.
	The lbox thumb table scrolls inside it*/
	div.lbox_thumb_container{
	float: left;
	position: relative;
	direction: ltr;
	}

	/*this table holds all the thumbs.*/
	table.lbox_thumb_table{
	float: left;
	}

	/*these table cells hold one thumb div each.*/
	table.lbox_thumb_table td{
	}
	
	/*the thumbnail that is active will have wrapper td with a class of active*/
	table.lbox_thumb_table .active_thumb{
	}

	/*the rest of the thumb tds will have this class*/
	table.lbox_thumb_table .inactive_thumb{
	}

	/*these divs hold one thumbnail each.*/
	table.lbox_thumb_table td div.thumbs_div{
	text-align: center;
	}

	/*stop firefox putting a dotted border around the thumb, which gives it an overflow */
	table.lbox_thumb_table td div.thumbs_div a{
	outline: none;
	}

	/*the thumbnail image*/
	table.lbox_thumb_table td div.thumbs_div img{
	padding: 4px;
	}

	/*this holds the left/right arrows */
	div.lbox_left_right_arrows_div{
	float:left;
	margin: 4px 0px;
	width: 100%;
	}

	/*the left arrow image*/
	img.lbox_left_arrow_img{
	cursor: pointer;
	float: left;
	}

	/*the right arrow image*/
	img.lbox_right_arrow_img{
	cursor: pointer;
	float: right;
	}

	/*this holds the down arrow*/
	div.lbox_down_arrow{
	float: left;
	}

	/*the down arrow*/
	div.lbox_down_arrow img{
	cursor: pointer;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 4px;
	margin-bottom: 4px;
	}

/* LIGHTBOX GALLERY DESCRIPTIONS BIT */

	/*the div that holds all the descrition divs*/
	div.lbox_des_container{
	float: left;
	overflow: auto;
	margin: 5px 0px;
	}

	/*each description is wrapped in one of these*/
	div.lbox_des_container div.des_div{
	float: left;
	}
	
/* LIGHTBOX LARGE IMAGE BIT */

	/*this keeps the large image and slideshow buttons together*/
	div.lbox_image_slideshow_wrapper{
	float: left;
	}

	/*this is the div that houses the big lightbox image, the position relative is nescesssary for the image to
	be injected properly*/
	div.lbox_large_image{
	float: left;
	position: relative;
	padding: 5px;
	}
    
	/*the lightbox image itself*/
	div.lbox_large_image .large_img{
	}


/* LIGHTBOX GALLERY SLIDESHOW BIT */

	/*this holds the slideshow buttons*/
	div.lbox_slideshow_buttons{
	float: left;
	padding: 10px 0px;
	}

	/*the three slideshow images*/
	div.lbox_slideshow_buttons img{
	cursor: pointer;
	}
	
/* DOWNLOAD BUTTON BIT */

	/*this holds the download button*/
	div.lbox_download_button{
	float: left;
	padding: 10px;
	}

	/*the button image*/
	div.lbox_download_button img{
	cursor: pointer;
	}

/*SHARE FACEBOOK BIT*/
	div.lbox_facebook_share{
	display: block;
	float: left;
	padding: 10px;
	}
	
/*PLUS ONE BIT*/
	div.lbox_plus_one_div{
	display: block;
	float: left;
	padding-left: 10px;
	padding-top: 10px;
	}

/*REPORT IMAGE BIT*/
	div.lbox_report{
	display: block;
	float: left;
	padding-left: 10px;
	padding-top: 8px;
	}
	
	div.lbox_report form{
	width: 400px;
	}
	
/*IMAGE NUMBERING BIT*/
	div.lbox_img_numbering{
	display: block;
	float: left;
	padding-left: 10px;
	padding-top: 8px;
	}
	
/* LIGHTBOX TAGS BIT */

	/*the div that holds all the tags divs*/
	div.lbox_tags_container{
	float: left;
	overflow: auto;
	margin: 5px 0px;
	}

	/*each tag block is wrapped in one of these*/
	div.lbox_tags_container div.tags_div{
	float: left;
	}
	
/*FACEBOOK COMMENTS BIT*/
	div.lbox_fbcomments{
	float: left;
	padding-top: 5px;
	}
	


/* LIGHTBOX CLOSE IMAGE */

	img.closeImage{
	display: block;
	float: right;
	margin-top: 8px;
	cursor: pointer;
	}