
.icon-48-jdlogo {
	background-image: url(../com_eposts/images/jd_logo_48.png);	
}
.icon-32-template    { 
        background-image: url(../com_eposts/images/template32.png); 
}

.icon-32-upload32    { 
        background-image: url(../com_eposts/images/upload32.png); 
}

.icon-32-files32    { 
        background-image: url(../com_eposts/images/files32.png); 
}

.icon-32-downloads_2    { 
        background-image: url(../com_eposts/images/downloads_2.png); 
}

.adminheading {
	background: #F0F0F0;
	padding-left: 5px;
	color: #993300;
	/*font: 108%;*/
}

table.jdadminpanel {
	background-color: #FFF;
	font-family : Arial, Helvetica, sans-serif;
	margin: 0px;
	padding: 0px;
	border: 0px;
	width: 100%;
	border-collapse: collapse;
	color: #C64934;
	font-size : 18px;
	font-weight: bold;
	text-align: left;
}
table.jdadminpanel th {
	background: none;
	text-align: left;
	height: 50px;
	width: 99%;
	padding-left: 10px;
	border-bottom: 5px solid #fff;
}

div.current textarea, div.current select {
    clear: none;
    float: none !important;
    margin: 3px 0 0 2px;
} 

input.jdinput {
    float: none !important;
}
