<h2>Falang - Multilingual content manager for Joomla!</h2>


	<form action="index.php" method="post" name="adminForm">
	<table width="90%" border="0" cellpadding="2" cellspacing="2" class="adminform" >	<tr align="center" valign="middle">
      <td align="left" valign="top" width="70%">
		<h2>Where do we start?</h2>
                <p>Falang is a fork of Joomfish 2.1.7 which has been re-written to be compatible with Joomla! 1.7+.
</p>
                <p>Falang doesn't use the default language system of Joomla 1.7+. You don't have to specify a language for each content article or menu item (which results in a huge amount of duplication).

<p>
                <p>Did you ever ask yourself how you can create a multi-lingual website without copying every single item and re-creating them in the new language? Then Falang is one of the possible answers to this problem.
<br />
		<br />
          The Falang component allows you to manage all your content translations, even the content of all your components/modules, on your web site. The component is so flexible that you can easily add new components at a later date and then translate the new content.

		<br />
		&nbsp;</p>

		<h2>What do we understand as a content?</h2>
		<p>If we speak about content, we mean any text or other information that is stored in one of the Joomla! database tables. There are sometimes text entries which are stored in system wide language files. These files give you an easy way change static content between different languages. But the dynamic content, such as news, articles or other content you are creating is only in the language you write it unless you use a component to translate these :-(.
<br />
		&nbsp;<br />
            Falang is a solution to help you translating this content ;-) so that your site becomes truly multi-lingual. Each definition of dynamic content we call extensions (such as the Falang extension for K2 which allows you to translate all K2 elements).
		<br />
		&nbsp;</p>

		<h2>What does the component for you?</h2>
		<p>We didn't want to create a machine-based automated translation or other computer based translation method. The aim is to support the translation process, with real live translators. You may have some external editors which create new content for you, but someone has to have control over the translation.
<br />
		&nbsp;<br />
            With FaLang this person can check all content to find items which do not yet have a translation, identify recently changed items, or just manage the supported languages. Based on this your person in charge can translate the content items whenever he/she wants and also with any technique it is preferred.
		</p>

		<h2>How does it work?</h2>
		<p>Pretty easy. In the component menu you find the component configuration (available in the control panel toolbar) to change all the
		general settings of appearance and so on. This is the usual stuff.
		</p>

		<p>The second part is a bit more difficult. The definition of component elements is directly conntected
		to your database. That's why we decided not to make this configuration available in the Administrator!<br />
		The administrator shows you in the <a href="index.php?option=com_falang&task=elements.show">"Configuration of content's"</a>
		all installed content element definitions. These definitions are hold in XML files which are
		stored in the subdirectory "contentelements" below your administration dir of Falang.<br />
		If you wish you add a new content or change existing once you have to modify the XML files, which
		should not be to difficult.<br />
		Most important here, you will find some nice possibilities to check if the XML files are pointing
		to the correct information ;-)<br />
		&nbsp;<br />
		<p>For the translation process you just use the <a href="index.php?option=com_falang&task=translate.overview">"Translation"</a> menu. There you will find a
		list of the content's in your database. After selecting a content you can easily
		work with the translation and store it to your database.</p>
	   &nbsp;<br />
		 <p>That's it so far. Any ideas, problems and so on - write me directly a mail at : stephane.bouey@faboba.com</a><br>
	   &nbsp;<br />
	   Stéphane Bouey <a href="http://www.faboba.com" target="_blank">www.faboba.com</a></p>
  </table>
<input type="hidden" name="option" value="com_falang" />
<input type="hidden" name="task" value="help.show" />
<input type="hidden" name="boxchecked" value="0" />
<?php echo JHTML::_( 'form.token' ); ?>
</form>