.mod_aweather .warper {
	width:460px;
	height:200px;
}

.toggle-holder {
	float:left;
	width:30px;
	height:200px;
	border-right:#999999 solid 1px;
}

.mod_aweather .fujairah {
	border:none;
}

.toggle-holder a {
	width:30px;
	height:200px;
	display:block;
	background:#FFFF00;
	text-indent:-99999px;
	outline:none;
}

.accord,
.accord2 {
	float:left;
	height:200px;
	overflow:hidden;
}

.slide-content {
	width:200px;
	height:180px;
	padding:10px 20px;
}

.slide-content .title {
	padding-bottom:5px;
}

.slide-content .weatherinfo {
	padding:10px 0;
}

.slide-content .image,
.slide-content .descp {
	float:left;
	width:100px;
	height:100px;
}

.slide-content .image {
	border-right:#a78f6e solid 1px;
	width:99px;
}

.slide-content .img_wrpr {
	padding:10px 0 0 10px;
}

.slide-content .descp {
	text-align:center;
	padding-top:20px;
	height:80px;
}

.slide-content .descp .current {
	color:#990000;
	padding-bottom:15px;
	font-weight:bold;
}

.slide-content .descp .status {
	color:#7c7c7c;
	padding-bottom:10px;
}

.slide-content .descp .text {
	color:#7d6b3a;
}

.slide-content .btmlink {
	padding-top:10px;
}

.slide-content .btmlink a {
	color:#003e7e;
	text-decoration:none;
}

.accord2 .slide-content .prayer_bg {
	background:url(images/prayper_bg.png) left top no-repeat;
	padding-top:50px;
}

.accord2 .title {
	color:#794b11;
	text-align:right;
	font-size:9px;
}

.accord2 .title span {
	text-align:left;
	float:left;
}

.accord2 .slide-content td {
	padding:5px 5px 5px 0;
}

.mod_aweather .dubai a {
	background:url(images/ltr/dubai_wp.png) left top no-repeat;
}

.mod_aweather .abudhabi a {
	background:url(images/ltr/adhabi_wp.png) left top no-repeat;
}

.mod_aweather .sharjah a {
	background:url(images/ltr/sharjah_wp.png) left top no-repeat;
}

.mod_aweather .ajman a {
	background:url(images/ltr/ajman_wp.png) left top no-repeat;
}

.mod_aweather .rakhaim a {
	background:url(images/ltr/rakhaima_wp.png) left top no-repeat;
}

.mod_aweather .uaquwain a {
	background:url(images/ltr/uaquwain_wp.png) left top no-repeat;
}

.mod_aweather .fujairah a {
	background:url(images/ltr/fujairah_wp.png) left top no-repeat;
}