/**
* @version 1.2 stable
* @package ePosts
* @copyright (C) 2008 www.joomlaaddons.de
* @license http://www.gnu.org/copyleft/gpl.html GNU/GPL
*/

tr, td {
    border: 0px;
}

jd_div {
        margin:0;
}

.jd_body {
        font-family:Arial, Helvetica, sans-serif;
        color:#333333;
        line-height:130%;
        text-align: justify;
        height:130%;
        margin-left: 15px;
        margin-right: 15px;
}
/*
.jd_editor_body table, td, th, select {
        font-family:Arial, Helvetica, sans-serif;
    	  background: none repeat scroll 0 0 #FFFFFF;
        color: #222222;
        line-height:100%;
        text-align: left;
        height:100%;
        margin: 10px;
        padding: 3px 0px 3px 0px;
    	  font-size: 78.0%;
}*/

.jd_cat_title {
          text-align: left;
          font-weight: bolder;
          border: 1px double #cccccc;
          width: auto;
          background: url(assets/images/button_bg.png) repeat-x;
          padding: 5px 10px 5px 5px;
          line-height: 20px;
          margin: 10px;
          font-size: 14px;
}

.jd_top_navi {
          text-align: center;
          font-size: 13px;
          font-weight: normal;
          width: 100%;
          padding: 10px 5px 20px 5px;
          line-height: 13px;
          margin: 0px;
          vertical-align: bottom;
          border-bottom: 1px solid #BBBBBB;
}

.jd_cat_subheader {
		 text-align: left;	
		 font-size: normal 12px;
          width: 100%;
          padding: 8px 5px 8px 5px;
          line-height: 20px;
          margin: 2px 0px 2px 0px;
          vertical-align: middle;
          background-color: #F5F5F5;
          letter-spacing: 0px;
          border-bottom: 1px solid #BBBBBB;
}

.jd_footer {
	text-align: center;
	padding: 3px 3px;
	font: normal 12px;
	background-color: #FFFFFF;
}

.jd_div_content {
        padding-left:10px;
        padding-right:10px;
        padding-top: 2px;
        vertical-align: top;
}

.jd_td_cat_files {
		  text-align: right;
        padding-left:10px;
        padding-right:5px;
        padding-top: 0px;
        vertical-align: middle;
}

.jd_search_form {
         text-align: left;    
         font-size: normal 12px;
          width: 100%;
          padding: 8px 8px 8px 8px;
          line-height: 20px;
          margin: 3px;
          vertical-align: middle;
          background-color: none; 
          letter-spacing: 0px;
}

.jd_search_result_title{
          text-align: center;
          font-weight: normal;
          padding: 5px 10px 5px 5px;
          line-height: 20px;
          margin: 100px;
          width: 100%;
          background: none;
}


.jd_search_results{
          text-align: left;
          font-weight: normal;
          border: 1px double #cccccc;
          background: url(assets/images/button_bg.png) repeat-x;
          padding: 0px 10px 5px 5px;
          line-height: 20px;
          margin: 10px;
          width: 100%;
}

jd_ul {
        list-style:url(../images/pfeil_liste.gif);
        margin:0;
        padding:0;
        margin-left:15px;
}

jd_ul jd_li {
        font-weight:bold;
}

jd_h3 {
        margin-bottom:10px;
		  color: #990000;
}

.jd_small {
        color:#666666;
}

.jd_date {
        color:#999999;
}

.jd_inputbox {
        background-color:#FFFFFF;
        border:1px solid #CCCCCC;
        padding:2px;
        color:#333333;
}

.jd_readon {
        padding-left:5px;
}

.jd_img {
        border:none;
}

.jd_button {
          color: #333333;
          font-family: Arial, Helvetica, sans-serif;
          text-align: center;
          font-size: 11px;
          font-weight: bold;
          border: 1px solid #cccccc;
          width: auto;
          background: url(assets/images/button_bg.png) repeat-x;
          padding: 3px 5px 2px 5px;
          line-height: 18px !important;
          line-height: 16px;
          height: 25px !important;
          height: 24px;
          margin: 1px;
}

.jd_back_button {
          color: #333333;
          font-family: Arial, Helvetica, sans-serif;
          text-align: center;
          font-size: 11px;
          font-weight: bold;
          border: 1px solid #cccccc;
          width: 55px;
          background: url(assets/images/button_bg.png) repeat-x;
          padding: 0px 5px;
          line-height: 18px !important;
          line-height: 16px;
          height: 19px !important;
          margin: 1px;
}

.jd_page_nav ul li {
	display: inline !important;
	list-style-type: none !important;
}

.pagenav{
	display: inline !important;
	padding: 2px;
}

.pagenav ul li {
    list-style-type: none !important;
    display: block !important; 
    overflow: hidden;
    padding: 0;
}

.pagination-start{
  display: inline; /* Shows each item side-by-side */
  list-style-type: none; /* Gets rid of the bullet points */
}

.pagination-prev{
  display: inline; /* Shows each item side-by-side */
  list-style-type: none; /* Gets rid of the bullet points */
}
.pagination-next{
  display: inline; /* Shows each item side-by-side */
  list-style-type: none; /* Gets rid of the bullet points */
}
.pagination-end{
  display: inline; /* Shows each item side-by-side */
  list-style-type: none; /* Gets rid of the bullet points */
}

/*
ul.pagenav {
    list-style-type: none;
    overflow: hidden;
    padding: 0;
}
ul.pagenav li {
    display: inline-block;
    margin: 0;
    padding: 0;
}
.pagenav {
    line-height: 2em;
}
.pagenav a {
    background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #CCCCCC;
    display: inline;
    padding: 2px;
    text-decoration: none;
}
.pagenav pagenav-prev {
    float: left;
}
.pagenav pagenav-next {
    float: right;
}
*/
/*
.pagenav_next {
          color: #333333;
          font-family: Arial, Helvetica, sans-serif;
          text-align: center;
          font-size: 11px;
          font-weight: bold;
          border: 3px double #cccccc;
          width: 50px;
          background: url(assets/images/button_bg.png) repeat-x;
          padding: 0px 5px;
          line-height: 18px !important;
          line-height: 16px;
          height: 19px !important;
          height: 19px;
          margin: 1px;
}

.pagenav_prev {
          color: #333333;
          font-family: Arial, Helvetica, sans-serif;
          text-align: center;
          font-size: 11px;
          font-weight: bold;
          border: 1px solid #cccccc;
          width: 50px;
          background: url(assets/images/button_bg.png) repeat-x;
          padding: 0px 5px;
          line-height: 18px !important;
          line-height: 16px;
          height: 19px !important;
          height: 19px;
          margin: 1px;
}
*/

#jd_license_text {
    background:none repeat scroll 0 0 #FFFFEE;
    border:1px solid #EEE;
    margin-bottom:15px;
    margin-top:15px;
    margin-right:10px;
    margin-left:10px;
    height:200px;
    overflow:auto;
}

.jd_pagenavbar {
        margin-left: 10px;
        float: left;
}

/* pane-sliders  */
.pane-sliders .title {
    margin: 0;
    padding: 2px;
    color: #666;
    font-size: 12px;
    cursor: pointer;
}

.pane-sliders .panel   { border: 1px solid #ccc; margin-bottom: 3px;}

.pane-sliders .panel  { background: #f6f6f6; color: #666}

.pane-sliders .content { background: #f6f6f6; }

.pane-sliders .adminlist     { border: 0 none; }
.pane-sliders .adminlist td  { border: 0 none; }

.jpane-toggler  span     { background: transparent url(assets/images/jd_slider_arrow_green.png) 5px 50% no-repeat; padding-left: 20px;}
.jpane-toggler-down span { background: transparent url(assets/images/jd_slider_arrow_down_green.png) 5px 50% no-repeat; padding-left: 20px;}

.jpane-toggler-down {  border-bottom: 1px solid #ccc; }

/* tabs */

dl.tabs {
    float: left;
    margin: 10px 0 -1px 0;
    z-index: 50;
}

dl.tabs dt {
    float: left;
    padding: 4px 10px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-top: 1px solid #ccc;
    margin-left: 3px;
    background: #f0f0f0;
    color: #666;
}

dl.tabs dt.open {
    background: #F9F9F9;
    border-bottom: 1px solid #F9F9F9;
    z-index: 100;
    color: #000;
}

div.current {
    clear: both;
    border: 1px solid #ccc;
    padding: 10px 10px;
}

div.current dd {
    padding: 0;
    margin: 0;
}

