body {
	background:url(../images/ltr/body_bg.png) #dddddd center top no-repeat;
	font-family:Arial, Helvetica, sans-serif;
}
/*  ===== General =====  */

.main_area {
	text-align:left;
}

.controlls div.container {
	float:right;
}

a.readmore {
	float:right;
	margin-right:25px;
}

a.dp_readmore {
	background:url(../images/ltr/dep_readmore.png) left top no-repeat;
	padding-left:5px;
}

/*  ===== Toolbar =====  */

.toolbar_area {
	background:url(../images/toolbar_bg.png) right top no-repeat;
	float:right;
}

.toolbar_area .moduletable p {
	padding:0 10px 0 40px;
}

.toolbar_area .moduletable {
	float:right;
}

.toolbar_area .language {
	text-align:left;
}

.toolbar_area div.mod-languages ul.lang-inline li a {
	font-family:tahoma;
}

.toolbar_area .admin_panel ul.menu li {
	float:left;
}

/*  ===== Header =====  */

.header_area .logo_text {
	padding:35px 0 0 30px;
	float:right;
}

.header_area .logo_img {
	padding:7px 55px 0 20px;
	float:left;
}

/*  ===== TopMenu =====  */

.menu_area {
	left:0;
}

.menu_area li {
	float:left;
	margin-left:-11px;
}

.menu_area li a {
	background-image:url(../images/ltr/menu_bg.png);
	padding-left:10px;
}

.menu_area li a span {
	background-image:url(../images/ltr/menu_bg.png);
	padding:0 35px 0 15px;
}

.menu_area li.menu-0 {
	margin-left:0;
}

.menu_area li.menu-0 a {
	background-position:left -27px;
}

.menu_area li.menu-1 a {
	background-position:left -81px;
}

.menu_area li.menu-2 a {
	background-position:left -135px;
}

.menu_area li.menu-3 a {
	background-position:left -189px;
}

.menu_area li.menu-4 a {
	background-position:left -243px;
}

.menu_area li.menu-5 a {
	background-position:left -297px;
}

.menu_area li.menu-0 a span {
	background-position:right 0px;
}

.menu_area li.menu-1 a span {
	background-position:right -54px;
}

.menu_area li.menu-2 a span {
	background-position:right -108px;
}

.menu_area li.menu-3 a span {
	background-position:right -162px;
}

.menu_area li.menu-4 a span {
	background-position:right -216px;
}

.menu_area li.menu-5 a span {
	background-position:right -270px;
}

.menu_area li:hover a {
	background-position:left -351px;
}

.menu_area li:hover a span {
	background-position:right -324px;
}

.menu_area li ul {
	left:0;
}

.menu_area li ul li a {
	text-align:left;
	padding-left:20px;
}

/*  ===== Search =====  */

.search_area {
	background:url(../images/search_bg.png) left top no-repeat;
	left:670px;
}

.search_area form {
	padding-left:20px;
}

.search_area .search {
	background:url(../images/ltr/searchfld_bg.png) left top no-repeat;
}

.search_area .search .searchbox {
	padding-left:25px;
}

.search_area .search .clearsearch {
	right:7px;
}

/*  ===== Home Page Links =====  */

.home_links {
	right:0;
	padding-right:13px;
}

.home_links ul li {
	background:url(../images/ltr/hlinks_bg.png) left top no-repeat;
	left:0;
}

.home_links ul li.sitemap {
	left:44px;
}

.home_links ul li a {
	padding:9px 0 0 20px;
	text-align:left;
}

/*  ===== Announcements =====  */


.ancmnt_area .controlls {
	left:12px;
}

.ancmnt_area .controlls a {
	text-align:left;
}

.ancmnt_area .controlls,
.ancmnt_area h3 {
	background:url(../images/ltr/ancmnt.png) left 10px no-repeat;
	padding:10px 0 0 33px;
}

.ancmnt_area #prev93 {
	left:0;
}

.ancmnt_area #next93 {
	right:0;
}

.ancmnt_area .anews_cn {
	left:162px;
}

.ancmnt_area .anews_cn .anews_item {
	float:left;
}

/*  ===== Breadcrumbs =====  */

.breadcrumbs .anc_iner_left {
	background:url(../images/ltr/breadcrumb_bg.png) left top no-repeat;
}

.breadcrumbs .anc_iner_right {
	background:url(../images/brdcrmb_iiner_right.png) right top no-repeat;
}

.breadcrumbs .showHere {
	float:left;
	padding-left:10px;
}

.breadcrumbs .showCrmb {
	float:left;
}

.breadcrumbs .showCrmb li {
	float:left;
}

/*  ===== Body =====  */


.body_wrpr .bodyw_left {
	float:left;
}







.body_wrpr .left_area {
	float:left;
	padding-right:15px;
}

.body_wrpr .left_area ul.menu ul li {
	background:url(../images/ltr/arrow.png) left 7px no-repeat;
	padding-left:17px;
}


/*  ===== News Area =====  */

.news_arae {
	float:left;
}

.news_arae .news_wrpr {
	padding:20px 20px 0 50px;
}

.news_arae img {
	float:left;
	margin-right:20px;
}

.news_arae h3 {
	background:url(../images/ltr/news_icn.png) left top no-repeat;
	padding:0 0 13px 35px;
}

.news_shadow .anews_cn .anews_item {
	float:left;
}

.news_arae .controlls .handles {
	float:left;
}

.news_arae .handles span {
	float:left;
	padding-right:2px;
}

/*  ===== OurVision Area =====  */

.vision_area {
	float:left;
	background:url(../images/ltr/ourvision_bg.png) left top no-repeat;
}

.vision_area .moduletable {
	padding:45px 60px 0 75px;
}

/*  ===== OurVision/Circulars/Policies Area =====  */

.vcp_shadow {
	background:url(../images/ltr/vcp_shadow.png) left bottom no-repeat;
	float:left;
	padding-right:20px;
}

.vcp_area {
	background:url(../images/ltr/vcp_bgmid.png) left top repeat-y;
}

.vcp_top {
	background:url(../images/ltr/vcp_bgtop.png) left top no-repeat;
}

.vcp_btm {
	background:url(../images/ltr/vcp_bgbtm.png) left bottom no-repeat;
}

.vcp_area .tabs {
	float:left;
	padding-left:5px;
}

.vcp_area .tabs li {
	padding:14px 0 0 25px;
}

.vcp_area .tabs li.active,
.vcp_area .tabs li:hover {
	margin-left:-8px;
}

.vcp_area .tabs li span.nm {
	float:left;
}

.vcp_area .tabs li.vision {
	background:url(../images/visiontab_bg.png) left top no-repeat;
}

.vcp_area .tabs li.crclrs {
	background:url(../images/circulartab_bg.png) left top no-repeat;
}

.vcp_area .tabs li.plcies {
	background:url(../images/policiestab_bg.png) left top no-repeat;
}

.vcp_area .items {
	float:left;
}

.vcp_area .items .moduletable {
	padding:35px 25px 0 35px;
}

/*  ===== Events Calander / Tasawaq =====  */

.ect_area {
	background:url(../images/ltr/ect_shadow.png) left bottom no-repeat;
	float:left;
}

.ect_wrpr {
	float:left;
}

.ect_wrpr .moduletable{
	padding:35px 25px 0 35px;
}

.ect_tabs {
	float:left;
}

.ect_tabs ul {
	left:0;
}

.ect_tabs li.tswk {
	background:url(../images/ltr/ts_btn.png) right top no-repeat;
	left:0;
}

.ect_tabs li.tswk.active {
	background:url(../images/ltr/ts_btn.png) left top no-repeat;
}

.ect_tabs li.evcr {
	background:url(../images/ltr/ec_btn.png) right top no-repeat;
	left:0;
}

.ect_tabs li.evcr.active {
	background:url(../images/ltr/ec_btn.png) left top no-repeat;
}

.ect_area .calendar .cal_tabs {
	float:left;
}

.ect_area .calendar .tab_greg {
	background:url(../images/cal/calander_tabs_g_left.png) left bottom no-repeat;
}

.ect_area .calendar .tab_hijri {
	background:url(../images/cal/calander_tabs_h_left.png) left bottom no-repeat;
}

.ect_area .calendar .calendar_area {
	float:left;
	padding:14px 6px 0 6px;
}

/*  ===== Announcements / Prayer Timings / Weather / Job Board / New Hire / Picture Gallery =====  */

.tabsbtm_area {
	background:url(../images/ltr/tabbtm_shadow.png) left bottom no-repeat;
	float:left;
	padding-left:5px;
	padding-right:20px;
}

.tabsbtm_area .tabs_area {
	float:left;
	background:url(../images/ltr/tabs_tbsbg.png) left top no-repeat;
}

.tabsbtm_area .tabs_area li {
	padding-left:10px;
}

.tabsbtm_area .tabs_area li.active {
	background:url(../images/ltr/tabbtm_arrow.png) right center no-repeat;
}

.tabsbtm_area .cntnt_area {
	float:left;
	background:url(../images/ltr/tabs_inrshadow.png) left top no-repeat;
}

.tabsbtm_area .cntnt_area > .newhire .moduletable,
.tabsbtm_area .cntnt_area .moduletable {
	padding:35px 25px 0 35px;
}

.tabsbtm_area .cntnt_area > .newhire .moduletable > .moduletable {
	padding:0;
}

.newhire_cn .newhire_item {
	float:left;
}

.newhire_cn .newhire_img {
	float:left;
}

.newhire_cn .newhire_details {
	float:left;
	padding-left:25px;
}

.vcp_area .handles,
.newhire .handles {
	float:right;
	right:22px;
}

.vcp_area .handles span,
.newhire .handles span {
	float:left;
	padding-right:2px;
}

/*  ===== Quots / Surveys / Polls =====  */

.qsp_area {
	background:url(../images/ltr/qsp_shadow.png) right bottom no-repeat;
	float:left;
}

.qsp_area .tabs_area li {
	float:left;
	background:url(../images/ltr/qsp_tabsbg.png) left -36px no-repeat;
	margin-left:-25px;
}

.qsp_area .tabs_area li span {
	padding-left:25px;
	float:left;
}

.qsp_area .tabs_area li.active {
	background:url(../images/ltr/qsp_tabsbg.png) left top no-repeat;
}

.qsp_area .cntnt_area {
	padding:0 0 13px 0;
}

.qsp_area .cntnt_area .quotes h4 {
	padding:20px 25px 0 35px;
	border-left:#d8f0fd solid 7px;
}

.qsp_area .cntnt_area .quotes p {
	border-left:#abd0e1 solid 7px;
	padding:20px 25px 0 35px;
}

.qsp_area .cntnt_area .controlls .container {
	left:160px;
}

.qsp_area .cntnt_area .surveys .moduletable {
	padding:25px 25px 0 35px;
}

.qsp_area .cntnt_area .polls .poll_chart {
	background:url(../images/polls_chart.png) 3px 10px no-repeat;
	float:left;
}

.qsp_area .cntnt_area .polls .poll_options {
	float:left;
	padding-left:10px;
}

.qsp_area .cntnt_area .polls .buttons {
	padding:5px 25px 0 25px;
}

.qsp_area .cntnt_area .polls .buttons .votebtn {
	float:left;
}

.qsp_area .cntnt_area .polls .buttons .viewresults {
	float:right;
}





/*  ===== Footer =====  */

.footer_area .footer_menu {
	float:left;
}

.footer_menu li {
	float:left;
	border-left:#FFFFFF solid 1px;
	border-right:#D6D6D6 solid 1px;
}

.footer_menu li.menu-0 {
	border-left:none;
}

.footer_menu li.menu-6 {
	border-right:none;
}

.footer_menu li a {
	padding:0 16px;
}

.footer_area .footer_links {
	float:right;
	text-align:right;
}

.footer_links ul {
	float:right;
}

.footer_links li {
	float:right;
	padding-left:2px;
}

/*  ===== Gallery =====  */

/*.gallery_wrpr .category_wrapper .catthumb_div {
	float:left;
	padding:0 15px 10px 0;
	text-align: center;

	
}
.gallery_wrpr .category_wrapper .catthumb_div img {
	
	border:4px solid #e3e3e3;
box-shadow: 3px 2px 2px #CCCCCC;
border-radius:6px;
	
} */

.gallery_wrpr .category_wrapper .catthumb_div {
	float: left;
    padding: 0 13px 25px 0;
    text-align: center;
}

.gallery_wrpr .category_wrapper .catthumb_div a {
	
}

.gallery_wrpr .category_wrapper .catthumb_div img {
	border: 1px solid #E3E3E3;
    height: 140px;
    padding: 15px;
    width: 200px;
}



.gallery_wrpr .thumb_container .thumbs_div {
	float:left;
	padding:0 10px 10px 0;
	
}
.gallery_wrpr .thumb_container .thumbs_div img {
	border:4px solid #e3e3e3;
box-shadow: 3px 2px 2px #CCCCCC;
border-radius:6px;
	
}

/*  ===== EPost Component =====  */

.jd_cat_subheader {
	text-align:left;
}

.department_left {
	float:left;
	padding-right:10px;
}

.department_right {
	float:left;
}

.ane_area .tabs_area ul.tabs {
	padding:4px 0 0 5px;
}

.pm_area .tabs_area li.tab,
.ane_area .tabs_area li.tab  {
	background:url(../images/tabs_dp_bg.png) left -28px no-repeat;
}

.pm_area .tabs_area li.tab span,
.ane_area .tabs_area li.tab span {
	background:url(../images/tabs_dp_bg.png) right -28px no-repeat;
}

.pm_area .tabs_area li.active,
.pm_area .tabs_area li:hover,
.ane_area .tabs_area li.active,
.ane_area .tabs_area li.tab:hover {
	background:url(../images/tabs_dp_bg.png) left top no-repeat;
}

.pm_area .tabs_area li.active span,
.pm_area .tabs_area li:hover span,
.ane_area .tabs_area li.active span,
.ane_area .tabs_area li.tab:hover span {
	background:url(../images/tabs_dp_bg.png) right top no-repeat;
}

.pm_area .tabs_area li.tab,
.ane_area .tabs_area li.tab  {
	float:left;
	padding-left:10px;
}

.pm_area .tabs_area li.tab span,
.ane_area .tabs_area li.tab span {
	float:left;
	padding-right:10px;
}

.dp_list .details a.dp_readmore,
.circulars_area .contents_area a.dp_readmore,
.pm_area .contents_area a.dp_readmore,
.ane_area .contents_area a.dp_readmore {
	float:right;
}

.circulars_area .contents_area li,
.ane_area .contents_area li {
	background:url(../images/ltr/arrow.png) left 7px no-repeat;
	padding-left:17px;
}

.pm_area .tabs_area ul {
	padding:1px 0 0 10px;
}

.main_filter {
	text-align:right;
}

.breadcrumbs .showCrmb a {
	float:left;
}

.bookingNext {
	float:right;
}

.ari_results label {
	float:left;
}

.circulars_area .contents_area .dp_readmore,
.pm_area .contents_area .dp_readmore,
.ane_area .contents_area .dp_readmore {
	right:10px;
}

@font-face {
	font-family: 'Conv_MyriadPro';
	src: url('fonts/MyriadPro-Regular.eot');
	src: local('☺'), url('fonts/MyriadPro-Regular.woff') format('woff'), url('fonts/MyriadPro-Regular.ttf') format('truetype'), url('fonts/MyriadPro-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'droid_sansregular';
    src: url('droidsans-webfont.eot');
    src: url('droidsans-webfont.eot?#iefix') format('embedded-opentype'),
         url('droidsans-webfont.woff') format('woff'),
         url('droidsans-webfont.ttf') format('truetype'),
         url('droidsans-webfont.svg#droid_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


.staffsearchfilter { margin-bottom:70px;}
.alphafilter{
	margin: 0 auto;
	text-align : right;
}
.staffsearchfilter .alphafilter table tbody tr td {
	line-height: 20px;
}

.staffsearchfilter .alphafilter table tbody tr td:hover {
	background-color: #5ebee8 !important;
}

.searchfilterarea {float:right;margin-right:5px;margin-top:15px;}



.searchbydept {
	float: left;
    margin-left: 40px;
    overflow: hidden;
    width: 281px;

}

.searchbydept select {

	
	
	font-family: arial;
    font-size: 12px;
    height: 22px;
    padding: 2px;
    width: 281px;

	-webkit-appearance:none;
  -moz-appearance:none;
  -o-appearance:none;
   appearance:none; 
    background: url("../images/icons/select-arrow.png") no-repeat scroll 255px center rgba(0, 0, 0, 0);
    border: 1px solid #C0C0C0;
    color: #2D2D2D;
float:right;
	outline:none;
	display: inline-block;
	text-indent: .01px;
	text-overflow: "";
	
}

.searchbytext {
float: left;
}
.searchbytext input {
	border: 1px solid #B4B2B0;
    color: #2D2D2D;
    float: left;
    height: 18px;
    margin-right: -24px;
padding-right: 20px;
    padding-left: 5px;
    width: 220px;
	}

/*.searchbytext button {  
 background: none;
    border: 0 none;
     margin: 0px 0 0;
    padding: 0;
 
 
 
} */
.searchbytext button {  
 background: url("../images/icons/search-button.png") no-repeat;
    border: 0 none;
    height: 21px;
    margin: 0;
    padding: 0;
    width: 24px;
	
}

.searchbytext button img {
	border: 0px solid #B4B2B0;
    margin: 0;
    padding: 0;
	

} 

.dept_sub_title{
	color: #2D2D2D;
    font-family: droid_sansregular;
    font-size: 12px;
    
}


.dept_sub_title_name {
	color: #999999;
    font-weight: bold;
    font-family: droid_sansregular;
}

.user-about-decp {
	color: #6C697B;
    font-family: droid_sansregular;
    font-size: 12px;
    font-weight: normal;
    margin-left: 25px;
    margin-top: 10px;
}

.user-about-decp-head {
	color: #92867A;
    font-family: droid_sansregular;
    font-size: 16px;
    font-weight: normal;
    line-height: 30px;
}

.staff_name_title {
	color: #2C2C2C;
    font-family: droid_sansregular;
    font-size: 19px;
    font-weight: normal;
    
}

.staff_topdiv {
}

.staff_topdiv  tr{
	
}

.staff_topdiv  tr td{
	
}

.staff_bottomdiv {
	font-family: droid_sansregular;
}

.staff_bottomdiv tr {
	
}

.staff_bottomdiv tr td {
	padding:1px 10px;
}

.staff_bottomdiv .staffmobileicon {
		float: left;
}

.staff_bottomdiv .staffmobile { 
	float: left;
    line-height: 2em;
	color:#999999;
}
.staff_bottomdiv .staffemail {
	color: #19A1DD;
    float: left;
    font-size: 12px;
    font-weight: normal;
    line-height: 2em;
}
.staff_bottomdiv .staffemailicon { 
	float:left;
}

.staff_bottomdiv .stafffaxicon {
		float:left;
}

.staff_bottomdiv .stafffax {
	  color: #999999;
    float: left;
    line-height: 2em;
	
}

.staff_bottomdiv .staffphoneicon {
	float: left;	
}

.staff_bottomdiv .staffphone {
	float: right;
    height: 21px;
    line-height: 26px;
}

.staffsearchfilter .alphafiltertable  {
	padding-left: 375px;
}

	
#layer1 {
	text-align:left;
	margin-left:0px;
}


#form-colm-two {
	margin-top:5px;
}

#form-colm-two .form-colm-left {
	 float: left;
    margin-left: 10px;
	width: 74%;
}

#form-colm-two .form-colm-left .form-list-title {
	color: #2d2d2d;
    font-family: droid_sansregular;
    font-size: 17px;
    font-weight: bold;
    padding-top: 10px;
    text-transform: uppercase;
}

#form-colm-two .form-colm-left .form-list-decs {
	margin-left: 1px;
    margin-top: 2px;
	color: #2d2d2d;
	font-weight: Normal !important;

}

#form-colm-two .form-colm-left .form-list-decs p {
	font-family: droid_sansregular;
	color: #2d2d2d;
    font-size: 12px;
    margin-top: 5px;
}

#form-colm-two .form-colm-left .form-list-decs-head {
	font-family: droid_sansregular;
	font-size: 12px;
    font-weight: bold;
	color: #2d2d2d;
	line-height:39px;

	
    
    
}
.form-colm-right-hr {
	float: right;
    text-align: right;
    width: 31%;
	margin-top: 11px;
	margin-bottom: -8px;
}


#form-colm-two .form-colm-right {
	float: right;
    text-align: right;
    width: 24%;
	margin-top: 11px;
	margin-bottom: -8px;
}

#form-colm-two .form-colm-right .sub_title {
	line-height:18px;
	margin-right: 5px;
}

#form-colm-two .form-colm-right .form_download_icon {
	margin-bottom: 10px;
    margin-right: 25px;
    margin-top: -2px;
	height: 70px;
}









#default-colm-two {
	margin-top:5px;
}

#default-colm-two .default-colm-left {
	 float: left;
    margin-left: 10px;
	width: 74%;
}

#default-colm-two .default-colm-left .default-list-title {
	color: #2d2d2d;
    font-family: droid_sansregular;
    font-size: 17px;
    font-weight: bold;
    padding-top: 10px;
    text-transform: uppercase;
}

#default-colm-two .default-colm-left .default-list-decs {
	margin-left: 1px;
    margin-top: 2px;
	color: #2d2d2d;
	font-weight:normal;
  
}

#default-colm-two .default-colm-left .default-list-decs p {
	font-family: droid_sansregular;
	color: #2d2d2d;
    font-size: 12px;
    margin-top: 5px;
}

#default-colm-two .default-colm-left .default-list-decs-head {
	font-family: droid_sansregular;
	font-size: 12px;
    font-weight: bold;
	color: #2d2d2d;
	line-height:39px;
}


#default-colm-two .default-colm-right {
	float: right;
    text-align: right;
    width: 24%;
	margin-top: 11px;
	margin-bottom: -8px;
}

#default-colm-two .default-colm-right .sub_title {
	line-height:18px;
	margin-right: 5px;
}

#default-colm-two .default-colm-right .form_download_icon {
	margin-bottom: 10px;
    margin-right: 25px;
    margin-top: -2px;
}







.form_main_filter {
	text-align: right;
	line-height: 22px;
    padding: 5px;
}

.select-office-dropdown {
	float: right;
    overflow: hidden;
    width: 353px;
}

.select-office-dropdown select {
	-webkit-appearance:none;
  -moz-appearance:none;
  -o-appearance:none;
   appearance:none; 
    background: url("../images/icons/select-arrow.png") no-repeat scroll 279px center rgba(0, 0, 0, 0);
    border: 1px solid #C0C0C0;
    color: #999999;
    height: 21px;
    width: 300px !important;
	outline:none;
	display: inline-block;
	text-indent: .01px;
	text-overflow: "";
	
	
	
}

.ofctitle {
	color: #2D2D2D;
    font-family: droid_sansregular;
    font-size: 16px;
    margin-left: 9px;
	clear:both;

}

.selectofficebtn {

	background-color: #2E8FFF;
    border: 0 none;
    color: #FFFFFF;
    font-size: 11px;
    height: 22px;
    margin-left: -4px;
    margin-top: 0px;
    text-transform: uppercase;
    width: 40px;
    z-index: 9999;

}

#resourcesoffices {
	margin: 0 auto;
    width: 950px;
}

.resofficedescspan {

  font-size: 12px;

    font-family: droid_sansregular;
	color:#686868;
}

#resourcesoffices .resoffice {
    clear: both;
    display: inline-block;
    float: left;
    margin-bottom: 10px;
    width: 100%;
	min-height:103px;
}

#resourcesoffices .resoffice .resofficeareapic {
	float: left;
    padding: 0px 10px 0px 0px;
    width: 15%;
	
}


#resourcesoffices .resoffice .resofficearea {
	background-color: #F4F4F4;
    float: left;
    min-height: 100px;
    padding: 0 9px 0 0;
    width: 83%;
}
#resourcesoffices .resoffice .resofficetitle {
	color: #1AA2DE;
    font-size: 15px;
	font-family: droid_sansregular;
margin: 10px 0 3px;
	padding-left:8px;
    
}

#resourcesoffices .resoffice .resofficetitle a{ 
	color: #1AA2DE;
	font-size: 15px;
	font-family: droid_sansregular;
	
}
#resourcesoffices .resoffice .resofficetitle a:visited{ 
	color: #1AA2DE;
	font-size: 15px;
	font-family: droid_sansregular;
}

#resourcesoffices .resoffice .resofficedesc { min-height: 71px; padding-left:10px; padding-bottom: 2px; width: 83%;}

#resourcesoffices .resoffice .resofficedesc p {
	color: #2D2D2D;
    font-family: droid_sansregular;
}








#newrecruits {
	margin: 0 auto;
    width: 950px;
}

.newrecruitsdescspan {
	line-height: 40px;
  font-size: 12px;
  font-size: 12px;
    font-weight: bold;
    font-family: droid_sansregular;
	color:#2d2d2d;
}

#newrecruits .newrecruits {
    clear: both;
    display: inline-block;
    float: left;
    margin-bottom: 10px;
    width: 100%;
	min-height:103px;
}

#newrecruits .newrecruits .newrecruitsareapic {
	float: left;
    padding: 0px 10px 0px 0px;
    width: 15%;
	
}


#newrecruits .newrecruits .newrecruitsarea {
	background-color: #f4f4f4;
    float: right;
    padding: 0px 0 0px 17px;
    width: 81%;
	min-height: 100px;
}
#newrecruits .newrecruits .rnewrecruitstitle {
	color: #1AA2DE;
    font-size: 15px;
	font-family: droid_sansregular;
margin: 10px 0 3px;
	padding-left:10px;
    
}

#newrecruits .newrecruits .newrecruitstitle a{ 
	color: #1AA2DE;
	font-size: 15px;
	font-family: droid_sansregular;
	
}
#newrecruits .newrecruits .newrecruitstitle a:visited{ 
	color: #1AA2DE;
	font-size: 15px;
	font-family: droid_sansregular;
}

#newrecruits .newrecruits .newrecruitsdesc { min-height: 71px; padding-left:10px; padding-bottom: 2px; width: 83%;}

#newrecruits .newrecruits .newrecruitsdesc p {
	color: #2D2D2D;
    font-family: droid_sansregular;
}


.form_text_area{
	 background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    color: #2D2D2D;
    color: #2D2D2D;
    font-family: arial;
    font-size: 12px;
    height: 16px;
    padding: 2px;
    width: 150px;
		margin-right:5px;
	
}

.form_main_filter .inputbox{
	font-family: arial;
    font-size: 12px;
    height: 22px;
    padding: 3px;
    width: 60px;
 color: #2D2D2D;
	-webkit-appearance:none;
  -moz-appearance:none;
  -o-appearance:none;
   appearance:none; 
    background: url("../images/icons/select-arrow.png") no-repeat scroll 36px center rgba(0, 0, 0, 0);
    border: 1px solid #C0C0C0;
    color: #999999;
float:right;
	outline:none;
	display: inline-block;
	text-indent: .01px;
	text-overflow: "";
}

.main_filter .text_area_calander{
	 background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    color: #2D2D2D;
    font-family: arial;
    font-size: 12px;
    height: 16px;
    padding: 2px;
    width: 180px;
		margin-right:5px;
		background: url("../images/icons/calander-arrow.png") no-repeat scroll 160px center;
	
}
.main_filter .text_area{
	 background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    color: #2D2D2D;
    font-family: arial;
    font-size: 12px;
    height: 16px;
    padding: 2px;
    width: 180px;
		margin-right:5px;
	
}
.main_filter .inputbox{
	font-family: arial;
    font-size: 12px;
    height: 22px;
    padding: 3px;
	margin-right: 4px;
    width: 198px;
	-webkit-appearance:none;
  -moz-appearance:none;
  -o-appearance:none;
   appearance:none; 
    background: url("../images/icons/select-arrow.png") no-repeat scroll 173px center rgba(0, 0, 0, 0);
    border: 1px solid #C0C0C0;
     color: #2D2D2D;
float:right;
	outline:none;
	display: inline-block;
	text-indent: .01px;
	text-overflow: "";
	
}
.main_filter_lable{
text-align:left;
}
.title_main {
	color: #2d2d2d;
    font-family: droid_sansregular;
    font-size: 17px;
    font-weight: bold;
    padding-top: 10px;
    text-transform: uppercase;
	margin-left: 12px;
}
.title_quote{
	color: #2d2d2d;
    font-family: droid_sansregular;
    font-size: 17px;
    font-weight: bold;
    padding-top: 10px;
    text-transform: uppercase;
	margin-left: 12px;
}
.title_news{
	color: #2d2d2d;
    font-family: droid_sansregular;
    font-size: 17px;
    font-weight: bold;
    padding-top: 12px;
    text-transform: uppercase;
	margin-left: 9px;
}
.title_announcements{
	color: #2d2d2d;
    font-family: droid_sansregular;
    font-size: 17px;
    font-weight: bold;
    padding-top: 10px;
    text-transform: uppercase;
	margin-left: 12px;
}
.title_newhire{
	color: #2d2d2d;
    font-family: droid_sansregular;
    font-size: 17px;
    font-weight: bold;
    padding-top: 10px;
    text-transform: uppercase;
	margin-left: 12px;
}
.title_circulars{
	color: #2d2d2d;
    font-family: droid_sansregular;
    font-size: 17px;
    font-weight: bold;
    padding-top: 15px;
    text-transform: uppercase;
	margin-left: 12px;
}

.title_policies{
	color: #2d2d2d;
    font-family: droid_sansregular;
    font-size: 17px;
    font-weight: bold;
    padding-top: 10px;
    text-transform: uppercase;
	margin-left: 12px;
}



.title_tasawaq {
	color: #2d2d2d;
    font-family: droid_sansregular;
    font-size: 17px;
    font-weight: bold;
    padding-top: 10px;
    text-transform: uppercase;
	margin-left: 12px;
}
.title_events {
	color: #2d2d2d;
    font-family: droid_sansregular;
    font-size: 17px;
    font-weight: bold;
    padding-top: 10px;
    text-transform: uppercase;
	margin-left: 12px;
}

.title_events a {
	padding-left:0px !important;
	color: #1AA2DE;
    font-family: droid_sansregular;
    font-size: 15px;
}

.sub_title {
	color: #686868;
    font-family: droid_sansregular;
    font-size: 12px;
    font-weight: normal;
    padding: 0 0 0 12px;
	line-height: 18px;
    margin-right: 5px;
}

.sub_title_tasawaq {
	color: #686868;
    font-family: droid_sansregular;
    font-size: 12px;
    font-weight: normal;
    padding: 0 0 0 12px;
}

.title_tasawaq_name {

    width: 87%;
}

.title_tasawaq_img {
    width: 13%;
	margin-left: 12px;
	margin-top: 5px;
	

}

.title_tasawaq_fullimg {
	clear: both;
    padding-top: 28px;
}


.sub_title_tasawaq_contact {
	color: #686868;
    font-family: droid_sansregular;
    font-size: 12px;
    font-weight: normal;
    padding: 0 0 0 12px;
	padding-left: 5px !important;
}
.body_wrpr .wrpr_top h2 { Rashid Younus ---------------------------------
	padding-bottom:10px;
	padding-right: 19px;
	padding-left: 12px;
	color: #2d2d2d;
    font-size: 12px;
	font-family: droid_sansregular;
}
.body_wrpr .wrpr_top p {
	padding-bottom:10px;
	padding-right: 19px;
	padding-left: 0px;
	color: #2d2d2d;
    font-size: 12px;
	font-family: droid_sansregular;
}
.body_wrpr .wrpr_top .p2 p {
	padding-bottom:10px;
	padding-right: 19px;
	padding-left: 12px;
	color: #2d2d2d;
    font-size: 12px;
	font-family: droid_sansregular;
}


.inner_pages_link_download_view{
	color: #2D2D2D;
    font-family: droid_sansregular;
    font-size: 13px;
    padding: 0px 0px 0px 12px;
}

.ariquizsurvey {}

.ariquizsurvey tr{ background: none repeat scroll 0 0 #f4f4f4 ;
}
.yellow-row{ 
background: none repeat scroll 0 0 #f4f4f4;
    border: 3px solid #FFFFFF;
    height: 117px;
}
.ariquizsurvey tr td{
	border: 3px solid #FFFFFF;
    height: 28px;
    padding-top: 10px;
    vertical-align: top;
}
.ariquizsurvey tr td a{
	font-family: droid_sansregular;
	color:#1AA2DE;
    font-size: 16px;
    margin: 10px;
}

.desc_circulars {
		    margin-left: 12px;
			width:78%;
			color: #2D2D2D;
    font-family: droid_sansregular;
    font-size: 12px;
    font-weight: bold;
    line-height: 39px;
}
.desc_circulars  p {
	font-family: droid_sansregular;
	color: #2d2d2d;
    font-size: 12px;
    margin-top: 5px;
	
	}

.body_wrpr .wrpr_top .surveyquiz {
	margin:4px;
}

.body_wrpr .wrpr_top .surveyquizh2 {
	color: #2D2D2D;
    font-family: droid_sansregular;
    font-size: 15px;
    padding: 10px 0 5px 12px;
}

.body_wrpr .wrpr_top .surveyquiz p {
	color: #2D2D2D;
    font-family: droid_sansregular;
    font-size: 12px;
    padding: 0 0 0 12px;
}

.selectquizcontinuebtn {
    background-color: #2E8FFF;
    border: 0 none;
    color: #FFFFFF;
    font-size: 13px;
    height: 22px;
    margin-left: 11px;
    margin-top: 12px;
    text-transform: uppercase;
    width: 85px;
    z-index: 9999;
}
.surveyquizinfo {
	margin-left:12px;
}

.forms_mainfilter {
	
}

.jd_upload_form {
	float:right;
}

.news_mainfilter {
	float:right;

}

.news_bodytable {
	clear: both;
}

.announcements_mainfilter {
`	float:right;	
}
.announcements_bodytable {
	clear: both;
}

.quotes_mainfilter {
	`float:right;
}

.quotes_bodytable {
	clear: both;
}

.tasawaqs_mainfilter {
	`float:right;
}

.tasawaqs_bodytable {
	clear: both;
}

.events_mainfilter {
	`float:right;
}

.events_bodytable {
	clear: both;
}

.newhires_mainfilter {
	`float:right;
}

.newhires_bodytable {
	clear: both;
}

.circulars_mainfilter {
	`float:right;
}

.circulars_bodytable {
	clear: both;
}
.policies_mainfilter {
	`float:right;
}

.policies_bodytable {
	clear: both;
}

.resourceoffice_mainfilter {
	`float:right;
}

.resourceoffice_bodytable {
	clear: both;
    text-align: center;
}

.yellow_row{
float:left;
width: 62%;

}

.publish-news{

    text-align: right;
    float:right;
color: #2D2D2D;
    font-family: droid_sansregular;
    font-size: 10px;
    padding: 0 6px 0 0;
	margin-bottom: -8px;
    margin-top: 11px;
}
.publish-news .form_download_icon {
	margin-bottom: 10px;
    margin-right: 25px;
    margin-top: 16px;
	}
	
	.resofficeareapic2 {
	float: left;
    padding: 0px 10px 0px 0px;
    width: 13%;
	
	}
	
	.paging-footer{
	text-align: right;
	
	}
	
.forms-download-text {
	clear: both;
    margin-right: 8px;
    margin-top: -10px;
}

td #mod_minical_today {
	background : yellow;
}

.sectiontableheader{
   color: #1AA2DE;
    font-size: 13px;
    font-weight: bold;
    height: 31px;
    text-decoration: none;
	}
.sectiontableentry0{
    background-color: #FFF;
    font-size: 11px;
    height: 23px;

}
.sectiontableentry1{
    background-color: #F4F4F4;
    font-size: 11px;
    height: 23px;

}